body {
    font-family: "Bona Nova", serif;
}

.container {
    max-width: 600px;
    width: 50%;
    margin: 50px auto;
    background: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%);
    padding: 10px;
    border: 1px solid #314F75;
    border-radius: 20px;
    margin-bottom: 0;
}

.card {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    border: 1px solid white;
}

h2 {
    color: #314F75;
    padding: 30px 0 0 30px;
}

.wetherUnits {
    color: #314F75;
    font-size: calc(2.375rem + 2.5vw);
    width: 55%;
    text-align: center;
    float: right;
}

.degrees {
    font-size: 30px;
}

a.active {
    color: #314F75;
    text-decoration: none;
    cursor: default;
}

a.active:hover {
    text-decoration: none;
    color: white;
}

canvas {
    width: 100px;
    margin-left: 30px;
}

.form-control {
    display: inline;
    width: 70%;
}

p {
    margin-top: 15px;
    color: #314F75;
    text-align: right;
}

.float-left {
    text-align: left;
}

.day {
    color: #314F75;
}

h5 {
    margin: 10px 0;
    padding: 5px;
    color: white;
    text-align: center;
    border: 1px solid #314F75;
}

.cont {
    margin: 15px 0;
}

.row {
    margin: 15px 0;
    padding: 20px 0;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%);
}

.btn {
    margin-left: 20px;
    background-color: #314F75;
    border-color: #314F75;
}


a {
    color: #314F75;

}